@*@using ASPNET_Cookie_Session_Basket.Controllers
@model Book*@

@{
    ViewData["Title"] = "Privacy Policy";
}
@*<h1>@ViewData["Title"]</h1>*@
@*
<p>@Model.Id</p>
<p>@Model.Name</p>
<p>@Model.Author</p>*@

@*<h1>@ViewBag.age</h1>
<h1>@ViewBag.name</h1>
<h1>@ViewBag.surname</h1>*@